<div class="container">
  <div class="pt-5">
    <div class="card" *ngIf="currentUser$ | async as user">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            <h3>User Details</h3>
          </div>
          <div class="col-6 text-end">
            Current Rols is {{ user?.role }}
            <button (click)="changeRole()" class="btn btn-primary">
              Change Role
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p><strong>Name: </strong>{{ user?.name }}</p>
        <p><strong>Userame: </strong>{{ user?.username }}</p>
        <p><strong>Role: </strong>{{ user?.role }}</p>
      </div>
    </div>
  </div>
</div>
